/* 
SQKZ Portfolio 
created by: Riley Hoff
 */
body{
    margin: 5%;
    font-family: 'Raleway', sans-serif;
    background-color: #E1E1E1;
}
h1{
    font-family: 'Rozha One', serif;
    font-size: 15vw;
    position: fixed;
    top: -5vh;
    left: 1vw;
    padding: 0;
    margin: 0;
    color: #F20142;
    z-index: 100;
    width: 40vw;
    overflow: hidden;
    -webkit-animation: fadein 2s 2s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s 2s backwards; /* Firefox < 16 */
     -ms-animation: fadein 2s 2s backwards; /* Internet Explorer */
      -o-animation: fadein 2s 2s backwards; /* Opera < 12.1 */
         animation: fadein 2s 2s backwards;
    transition: all 2s;
    }
    .horzontalTitle{
        writing-mode: horizontal-tb;
    }
    .verticalTitle{
        writing-mode: vertical-lr;
        font-size: 20vh;
        top:-1vh; 
        padding: 0; 
        margin: 0; 
        color:#D1D1D1;
        z-index: -100;
    }

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


/* navigation */
nav{
    position: fixed;
    top: 50px;
    right: 30px;
    border-right: 3px solid #F20142;
    padding-right:30px; 
    -webkit-animation: fadein 2s 3s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s 3s backwards; /* Firefox < 16 */
    -ms-animation: fadein 2s 3s backwards; /* Internet Explorer */
    -o-animation: fadein 2s 3s backwards; /* Opera < 12.1 */
    animation: fadein 2s 3s backwards;
}
nav ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
}
nav ol li{
    padding: 10px;
    text-align: right;
    display: block;
    width: 120px;
}
 nav a{
     color: black;
     text-decoration: none;
 }

nav ol li:hover{
    font-weight: bold;
    color: #F20142;
}
nav ol li:active{
    font-weight: bold;
    color: #F20142;
}


div#lowerNav div.vl{
    height: 10vh;
    border-left: 3px solid #F20142;
    position: fixed;
    bottom: 0;
    right: 5vw;
}
div#lowerNav {
    -webkit-animation: fadein 2s 5s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s  5s backwards; /* Firefox < 16 */
     -ms-animation: fadein 2s 5s backwards; /* Internet Explorer */
       -o-animation: fadein 2s 5s backwards; /* Opera < 12.1 */
         animation: fadein 2s 5s backwards;
}
div#lowerNav img#insta{
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 2vh;
    right: 5.5vw;
}

/* Art article */
article#body{
    margin: 85px 10% 0 10% ;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 85vh; 
    max-width: 100%;
    width: auto;
    -webkit-animation: fadein 2s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s backwards; /* Firefox < 16 */
    -ms-animation: fadein 2s backwards; /* Internet Explorer */
    -o-animation: fadein 2s backwards; /* Opera < 12.1 */
    animation: fadein 2s backwards;
}
div.artInfo{
    position: relative;
    display: block;
    top: -80px;
    left: -101%;
    -webkit-animation: fadein 2s 4s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s 4s backwards; /* Firefox < 16 */
    -ms-animation: fadein 2s 4s backwards; /* Internet Explorer */
    -o-animation: fadein 2s 4s backwards; /* Opera < 12.1 */
    animation: fadein 2s 4s backwards;
         
}
div.artInfo p{
    display: block;
    text-align: right;
    margin: 0;
}
div.artInfo p.title{
    font-weight: bold;  
}
p.size{
    color: #767575;
    font-size: 12pt;
}
p.medium{
    color: #767575;
}
/* footer */
footer{
    background-color: black; 
}
footer p{
    color: white;
}