/* 
SQKZ Portfolio 
created by: Riley Hoff
 */
body{
    margin: 5%;
    font-family: 'Raleway', sans-serif;
    background-color: #E1E1E1;
}

h1{
    font-family: 'Rozha One', serif;
    font-size: 15vw;
    position: fixed;
    top: -5vh;
    left: 1vw;
    padding: 0;
    margin: 0;
    color: #954242;
    z-index: 100;
    width: 40vw;
    overflow: hidden;
    -webkit-animation: fadein 1s 1s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s 1s backwards; /* Firefox < 16 */
     -ms-animation: fadein 1s 1s backwards; /* Internet Explorer */
      -o-animation: fadein 1s 1s backwards; /* Opera < 12.1 */
         animation: fadein 1s 1s backwards;
    transition: all .5s;
    }
    .horzontalTitle{
        writing-mode: horizontal-tb;
    }
    .verticalTitle{
        writing-mode: vertical-lr;
        font-size: 20vh;
        top:-1vh; 
        padding: 0; 
        margin: 0; 
        color:#D1D1D1;
        z-index: -100;
    }

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


/* navigation */
nav{
    position: fixed;
    top: 50px;
    right: 30px;
    border-right: 3px solid #954242;
    padding-right: 2vw; 
    -webkit-animation: fadein 1s 2s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s 2s backwards; /* Firefox < 16 */
    -ms-animation: fadein 1s 2s backwards; /* Internet Explorer */
    -o-animation: fadein 1s 2s backwards; /* Opera < 12.1 */
    animation: fadein 1s 2s backwards;
}
nav ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
}
nav ol li{
    padding: 10px;
    text-align: right;
    display: block;
    width: 120px;
}
 nav a{
     color: black;
     text-decoration: none;
 }

nav ol li:hover{
    text-decoration: underline;
    color: #954242;
}
nav ol li:visited{
    font-weight: bold;
    color: #954242;
}
div#lowerNav div.vl{
    height: 10vh;
    border-left: 3px solid #954242;
    position: fixed;
    bottom: 0;
    right: 5vw;
}
div#lowerNav {
    -webkit-animation: fadein 1s 4s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s  4s backwards; /* Firefox < 16 */
     -ms-animation: fadein 1s 4s backwards; /* Internet Explorer */
       -o-animation: fadein 1s 4s backwards; /* Opera < 12.1 */
         animation: fadein 1s 4s backwards;
}
div#lowerNav img#insta{
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 2vh;
    right: 5.5vw;
}

div.mobileIcon {
    display: none;
}

div.navMblOverlay {
    display: none;
}

/* Art article */

article#bodyVertical{
    margin: 85px 10% 0 10% ;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 85vh; 
    max-width: 100%;
    width: auto;
    -webkit-animation: fadein 1s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s backwards; /* Firefox < 16 */
    -ms-animation: fadein 1s backwards; /* Internet Explorer */
    -o-animation: fadein 1s backwards; /* Opera < 12.1 */
    animation: fadein 1s backwards;
}
div.artInfo{
    position: relative;
    display: block;
    top: -80px;
    left: -101%;
    -webkit-animation: fadein 1s 3s backwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s 3s backwards; /* Firefox < 16 */
    -ms-animation: fadein 1s 3s backwards; /* Internet Explorer */
    -o-animation: fadein 1s 3s backwards; /* Opera < 12.1 */
    animation: fadein 1s 3s backwards;
         
}
div.artInfo p{
    display: block;
    text-align: right;
    margin: 0;
}
div.artInfo p.title{
    font-weight: bold;  
}
p.size{
    color: #7A7A7A;
    font-size: 12pt;
}
p.medium{
    color: #7A7A7A;
}
/* grid body  */

article#bodyGrid{
    margin: 85px 2% 0 2% ;
    padding-left: 2vw;
    overflow: auto;
}
article#bodyGrid article.art{
    float: left;
    width: 24vw;
    height: 24vw;
    padding: 1vw;
    overflow: hidden;
}
article#bodyGrid article.art img{
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    transition: transform .2s; /* Animation */
}
article#bodyGrid article.art img:hover {
    transform: scale(1.05); 
  }
article#bodyGrid div.artInfo{
    display: none;         
}

/* Scroll reminder animation */
div#scrollArrow{
    position: fixed;
    bottom: 5vh;
    left: 49vw;
    width: 300px;
    opacity: 0;
    animation: scrolldown 1s 7s 7 alternate forwards;
    
}
div#scrollArrow p{
    display: block;
    margin: auto;
    font-size: 24pt;
}
@keyframes scrolldown {
    0% { 
        opacity: 1;
     }
    100% { 
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* full view image */ 
#fullView img{
    display: none;
    position: fixed;
    max-height: 95vh; 
    max-width: 80vw;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    animation: fadein 1s .2s backwards;
}

#fullViewOverlay{
    background-color: black;
    opacity: .75;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    left: 0;
}

#fullView #exitBtn{
    display: none;
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 210;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 27px;
    cursor: pointer;
    background-color: transparent;
}
#fullView #nextBtn{
    display: none;
    position: fixed;
    top: 50%;
    right: 5%;
    z-index: 220;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 27px;
    cursor: pointer;
    background-color: transparent;
}


/* footer */
footer{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #D1D1D1; 
    z-index: -200;
}
footer p{
    color: black;
    margin: 20px 0px 0px 10vw;
}
/* painting page */

body#painting h1#sqkzTitle.horzontalTitle{  /*override horizontal if necescary*/
    writing-mode: vertical-lr;
    font-size: 20vh;
    top:-1vh; 
    padding: 0; 
    margin: 0; 
    z-index: -100;
}
/* drawing page */

body#drawing h1#sqkzTitle.horzontalTitle{  /*override horizontal if necescary*/
    writing-mode: vertical-lr;
    font-size: 20vh;
    top:-1vh; 
    padding: 0; 
    margin: 0; 
    z-index: -100;
}

/* alternate page */

body.altPage{
    background-color: #954242;
    color: #E1E1E1;
}
body.altPage h1{
    color:#843434;
}
body.altPage h1#sqkzTitle{  /*override horizontal if necescary*/
    writing-mode: vertical-lr;
    font-size: 20vh;
    top:-1vh; 
    padding: 0; 
    margin: 0; 
    z-index: -100;
}
body.altPage h2{
    font-family: 'Rozha One', serif;
    font-size: 10vw;
    margin: 10vh 0 0 0;
}
body.altPage p{
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
}
body.altPage a{
    color:#E1E1E1;
}
body.altPage nav{
    border-right: 3px solid #E1E1E1;
}
body.altPage div#lowerNav div.vl{
    border-left: 3px solid #E1E1E1;
}

/*swup transitions */
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #954242;
    left: 0;
    top: 0;
    transform: scale(0);
    transform-origin: right; 
}
.transition-fade {
    transition: .2s;
    opacity: 1;
}
html.is-animating .transition-fade{
    opacity: 0;
}
.transition-swipe {
    transition: .7s cubic-bezier(0,0, .58, 1);
    transform: scaleX(0);
}
html.is-animating .transition-swipe{
    transform: scaleX(1);
}

/* --------------- ---for mobile phones ------------------*/

@media only screen and (max-width: 768px) {
    /* navigation */
    nav ol {
        display: none;
    }
    nav div#lowerNav{
        display: none;
    }
    nav div.mobileIcon {
        display: inline-block;
        cursor: pointer;
        position: fixed;
        top: 3px;
        right: 5vw;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #954242;
        margin: 6px 0;
        transition: 0.4s;
      }
      /* Rotate first bar */
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
  
    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }
  
    /* Rotate last bar */
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    div.artInfo {
        display: none;
    }
    h1 {
        top: -15px;
        display: inline-block;
        padding-left: 5vw;
        font-size: 40pt;
        position: fixed;
    }

    div.navMblOverlay {
        width: 110vw;
        height: 110vh;
        background-color: #E1E1E1;
        opacity: .8;
        position: absolute;
        top:-10vh;
        left: -100vw;
        z-index: -100;
        transform: scaleY(0);
        -webkit-transform:  scaleY(0);
        transform-origin: top;
        transition: 2s;

    }
    div.navMblOverlay.show {
        display: block;
        transition: 2s;
        transform: scaleY(1);
        -webkit-transform:  scaleY(1);
    }
    ol.upperNav.show{
        display: block;
        position: fixed;
        top:80px;
        left: 0;
        width: 100%;
    }
    ol.upperNav.show li{
        padding: 5vh 0 5vh 0;
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 5.5vw;
    }
    
    /* index.php */
    div#scrollArrow{
        display: none;
    }
}